---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import SpaceButton from "../components/SpaceButton.astro";
import Resultados from "../components/Resultados.astro";
import form from "../Data/form.json";
import Footer from "../components/footer.astro";
---

<Layout title="Encuesta">
	<main class="flex flex-col h-screen justify-start items-center">
		<div className="mt-0">
			<Title
				title="Resultados de la encuesta"
			/>
		</div>
			<ul class="mt-28 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
				{
					form.map((form) => {
						return (
							<Resultados
								Nombre={form.Nombre}
								Edad={form.Edad}
								sexo={form.sexo}
								SistemaOperativo={form.SistemaOperativo}
								Diferencia={form.Diferencia}
								Hablamos={form.Hablamos}
								Lenguaje={form.Lenguaje}
								Aprender={form.Aprender}
								Preocupacion={form.Preocupacion}
								Desarrolladores={form.Desarrolladores}
							/>
						);
					})
				}
			</ul>

		<Footer

		/>
	</main>
</Layout>

<style>
	.app-card-list,
	.social-link-list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		grid-gap: 1rem;
	}

	.social-link-list li {
		list-style: none;
	}

	.social-link-list li a {
		display: block;
		padding: 1rem;
		border-radius: 0.5rem;
		background-color: #f3f4f6;
		color: #000;
		text-decoration: none;
		transition: transform 0.3s ease, box-shadow 0.3s ease;
	}

	.social-link-list li a:hover {
		background-color: #e5e7eb;
		transform: translateY(-5px);
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	}

	.social-link-list li a h2,
	.social-link-list li a p {
		margin: 0;
	}

	.social-link-list li a img {
		width: 100%;
		border-radius: 0.5rem;
		transition: transform 0.3s ease;
	}

	.social-link-list li a:hover img {
		transform: scale(1.05);
	}

	.social-link-list li a .social-link-list__description {
		margin-top: 1rem;
		transition: opacity 0.3s ease;
	}

	.social-link-list li a:hover .social-link-list__description {
		opacity: 0.8;
	}

	.social-link-list li a .social-link-list__description p:first-child {
		margin-top: 0;
	}

	.social-link-list li a .social-link-list__description p:last-child {
		margin-bottom: 0;
	}

	.social-link-list li a .social-link-list__description p a {
		color: #000;
		transition: color 0.3s ease;
	}

	.social-link-list li a .social-link-list__description p a:hover {
		color: #333;
		text-decoration: underline;
	}
</style>